<div class="contenedor-juegos">

  <h1>Lista de juegos de Free to game</h1>

  <p class="subtitulo">
    Busca entre los juegos disponibles.
  </p>

  <div class="buscador">
    <input
      type="text"
      placeholder="Buscar juego..."
      [(ngModel)]="busqueda"
    >
  </div>

  <div class="juegos-grid">

@for (juego of filtrarJuegos(); track juego.id) {

  <article class="juego-card">

    <img
      [src]="juego.thumbnail"
      [alt]="juego.title"
    >

    <div class="juego-info">

      <h2>{{ juego.title }}</h2>

      <p class="descripcion">
        {{ juego.short_description }}
      </p>

      <div class="datos-juego">

        <p>
          <strong>Género:</strong>
          {{ juego.genre }}
        </p>

        <p>
          <strong>Plataforma:</strong>
          {{ juego.platform }}
        </p>

        <p>
          <strong>Desarrollador:</strong>
          {{ juego.developer }}
        </p>

      </div>

      <a
        [href]="juego.game_url"
        class="btn-juego"
      >
        Ver juego
      </a>

    </div>

  </article>

}

  </div>

</div>
